.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    padding: 20px;
}

.containerSkeleton {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 550) {
    .logout {
        border-radius: 4px;
        margin-top: 5px;
        width: 70%;
        height: 40px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;
        background: #e91e63;
        border-color:  #e91e63;
        font-size: larger;
    }
}

.logout {
    border-radius: 4px;
    margin-top: 16px;
    width: 200px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    background: #e91e63;
    border-color:  #e91e63;
    font-size: larger;
}