.gridRow {
  width: 100%;
  box-sizing: border-box;
}

.gridCol {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}


.loginButton {
    border-radius: 4px;
    margin-top: 5px;
    width: 60%;
    height: 40px;
    margin-left: auto;
    margin-bottom: 5px;
    background: #e91e63;
    border-color:  #e91e63;
    font-size: larger;
}

.fullWidth {
  width: 100%;
}

.companyLabel {
  font-size: 40px;
  font-weight: 700px;
  margin-top: 24px;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  color: #e91e63;
  box-sizing: border-box;
  font-style: oblique;
}

.loginLabel {
  font-size: 40px;
  font-weight: 800px;
  margin-top: 32px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

@media screen and (max-width: 550) {
    .companyLabel {
      font-size: 16px;
      font-weight: 700px;
      margin-top: 8px;
      margin-bottom: 8px;
      box-sizing: border-box;
      font-style: oblique;
    }

   .loginLabel {
    font-size: 24px;
    font-weight: 320px;
    margin-top: 8px;
    margin-bottom: 8px;
    box-sizing: border-box;
    }

    .createAccountButton {
       margin-top: 16px;
       box-sizing: border-box;
    }
}

.loginLabel {
  font-size: 40px;
  font-weight: 800px;
  margin-top: 24px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.createAccountButton {
  border-radius: 4px;
  margin-top: 32px;
  width: 160px;
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.antForm {
  padding: 40px;
  box-sizing: border-box;
  width: 100%;
}

.spinner {
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.errorMessage {
  font-size: 14px;
  width: 100%;
  color: red;
}

.gifContainer {
  width: 100%;
  height: 100%;
}
.powerGif {
  width: 100%;
}
