.inputContainer {
  margin-top: 5px;
  border-radius: 5px;
  width: 100%;
  background: #F9FAFB;
  box-sizing: border-box;
  height: 45px;
}

@media only screen and (max-width: 550) {
    .inputContainer {
        margin-top: 2px;
        border-radius: 5px;
        width: 100%;
        background: #F9FAFB;
        margin-bottom: 2px;
        height: 40px;
    }
}



