
.gridRow {
  width: 100%;
}

.signUpButton {
  border-radius: 4px;
  margin-top: 16px;
  width: 200px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  background: #e91e63;
  border-color:  #e91e63;
  font-size: larger;
}

@media only screen and (max-width: 700px) {
  .antForm {
    padding: 20px;
    box-sizing: border-box;
  }
  .signUpButton {
    border-radius: 4px;
    margin-top: 5px;
    width: 70%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    background: #e91e63;
    border-color:  #e91e63;
    font-size: larger;
  }
    .companyLabel {
      font-size: 16px;
      font-weight: 700px;
      margin-top: 8px;
      margin-bottom: 8px;
      margin-left: 0;
      margin-right: 0;
      font-style: oblique;
    }

   .createAccountLabel {
    font-size: 24px;
    font-weight: 320px;
    margin-top: 16px;
    margin-bottom: 8px;
    }

    .loginButton {
       margin-top: 16px;
    }

    .ant-input-affix-wrapper {
      margin-top: 2px;
      border-radius: 5px;
      width: 80%;
      background: #F9FAFB;
    }
    
    
}

.ant-select-single:not(.ant-select-customize-input) 
.ant-select-selector { 
  margin-top: 5px;
  border-radius: 5px;
  width: 100%;
  background: #F9FAFB;
  box-sizing: border-box;
  height: 45px;
}



.companyLabel {
  font-size: 40px;
  font-weight: 700px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  color: #e91e63;
  box-sizing: border-box;
  font-style: oblique;
}

.createAccoutLabel {
  font-size: 24px;
  font-weight: 800px;
  margin-top: 16px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.loginButton {
  border-radius: 4px;
  margin-top: 16px;
  width: 160px;
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}


.antForm {
  padding: 40px;
  box-sizing: border-box;
}

.selectAnt {
  width: 40%;
  margin-right: auto;
}

.spinner {
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}
.gifContainer {
  width: 100%;
  height: 100%;
}
.powerGif {
  width: 100%;
}

.errorMessage {
  font-size: 14px;
  width: 100%;
  color: red;
}